body{
    
}

.row{
    display: contents;
    justify-content: center;
    align-items: center;
    background-color: rgb(121, 99, 99);
}

.card{
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 230px;
    transition: all 0.3s ease-out;
    background-color: rgb(219, 192, 192);
    text-align: center;
}

.card:hover{
    transform: translateY(-5px);
    cursor: pointer;

}

.card p{
    color: #070707;
    font-size: 16px;
    text-align: center;
    margin-top: -15px;
    
}

.ref{
  
    text-decoration: none;
    font-size: 1.3em;
   
    color: white;
  
    
}

.ref2{
   
    text-decoration: none;
    font-size: 1.3em;
   
    color: white;
 
}

.card > a{
    text-decoration: none;
    

}



 



